h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
body{
    background: #161C2E;
}
.button{
    width: 54px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF8469;
    border-radius: 7px;
    & .button__body{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &:hover{
        background: #D95133;
    }
}
.main{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.todo-list{
    position: relative;
    margin-top: 15.83vh;
    padding: 30px;
    max-width: 420px;
    width: (calc(100% - 32px));
    max-height: 540px;
    height: calc(84vh - 131px);
    background: #252E42;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 40px;
    &::before{
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 94%;
        height: 67.95px;
        background: linear-gradient(180deg, #31394D 0%, #091739 100%);
        border-radius: 20px;
        transform: rotate(-2.32deg);
        z-index: -1;
    }
    &::after{
        content: '';
        position: absolute;
        top: -28px;
        left: 0;
        width: 81.3%;
        height: 67.95px;
        background: linear-gradient(180deg, #4F5565 0%, #000000 53.65%);
        border-radius: 20px;
        transform: rotate(-4.48deg);
        z-index: -2;
    }
    &__header{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tasks-list{
        padding: 0 10px 45px 0;
        width: calc(100% + 14px);
        height: calc(100% - 54px);
        overflow-x: hidden;
        overflow-y: scroll;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 30px;
            width: calc(100% - 60px);
            height: 75px;
            background: linear-gradient(180deg, rgba(37, 46, 66, 0) 0%, #252E42 67.19%);
            border-radius: 0 0 10px 0;
        }
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: #FF8469;
            border-radius: 10px;
        }
    }
    &__task{
        padding: 9px 0;
        display: flex;
        align-items: center;
        gap: 15px;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            & .todo-list__task-title{
                color: #FF8469;
            }
        }
        &-state{
            position: relative;
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            background: #4F5565;
            border-radius: 6px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3E%3Cpath d='M4.38462 9.61538C4.28205 9.61504 4.18064 9.5931 4.08669 9.55091C3.99274 9.50871 3.90827 9.44718 3.83852 9.37012L0.20278 5.40768C0.0668714 5.2593 -0.00593442 5.06167 0.000378846 4.85829C0.00350486 4.75759 0.0259611 4.6585 0.0664653 4.56668C0.10697 4.47487 0.164728 4.39213 0.236444 4.32318C0.30816 4.25424 0.392429 4.20044 0.484439 4.16486C0.576448 4.12928 0.674397 4.11262 0.772693 4.11582C0.97121 4.12229 1.15909 4.20929 1.295 4.35767L4.37714 7.7223L10.6686 0.671147C10.7325 0.589693 10.8119 0.522471 10.902 0.47361C10.9921 0.424749 11.0911 0.395281 11.1927 0.387016C11.2944 0.37875 11.3966 0.391862 11.4931 0.425546C11.5896 0.459229 11.6784 0.512773 11.754 0.58289C11.8296 0.653006 11.8904 0.738214 11.9327 0.83328C11.975 0.928346 11.9978 1.03126 11.9999 1.13571C12.0019 1.24016 11.9831 1.34393 11.9445 1.44065C11.906 1.53737 11.8486 1.62501 11.7758 1.69816L4.93821 9.36246C4.86912 9.44091 4.78494 9.50387 4.69096 9.5474C4.59698 9.59092 4.49523 9.61407 4.39211 9.61538H4.38462Z' fill='white'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;
                opacity: 0;
                transition: all .3s ease-in-out;
                
            }
        }
        &-info{
            position: relative;
            max-width: calc(100% - 35px);
        }
        &-title{
            margin-bottom: 3px;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
        &-description{
            position: relative;
            
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #4F5565;
            white-space: nowrap;
            overflow: hidden;
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 2px;
                width: 34px;
                height: 12px;
                background: linear-gradient(270deg, #252E42 9.38%, rgba(37, 46, 66, 0) 66.15%);
            }
        }
        &.checked{
            &:hover{
                & .todo-list__task-title{
                    color: #FFFFFF;
                }
            }
            & .todo-list__task-state{
                background: #FF8469;
                &::before{
                    opacity: 1;
                }
            }
            & .todo-list__task-title{
                text-decoration: line-through;
                color: #4F5565;
            }
            & .todo-list__task-description{
                text-decoration: line-through;
            }
        }
    }
}
.copyrights{
    margin-top: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #414B62;
}

.backgorund{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #252E42 0%, transparent 100%);
    transform: translate(-50%, -50%);
    z-index: -3;
    animation: bgSmush 5s linear infinite;
}
@keyframes bgSmush {
    0%{
        width: 100vw;
        height: 80vh;
    }
    50%{
        width: 100vh;
        height: 100vw;
    }
    100%{
        width: 100vw;
        height: 80vh;
    }
}

@media screen and (max-width: 600px){
    .todo-list{
        position: relative;
        margin-top: 10.8vh;
        &::before{
            width: 82.6%;
            height: 67.95px;
        }
        &::after{
            width: 71.5%;
            height: 85.15px;
        }
    }
}